<div class="container-fluid to-footer">

  <h1>
    Oleg Grechka
  </h1>
  <h5>
    Front-End Developer
  </h5>
  <ul>
    <li>
      gre4kae@gmail.com
    </li>
    <li>
      skype: gre4kae
    </li>
    <li>
      <a href=" https://t.me/gre4kae"> https://t.me/gre4kae</a>
    </li>
  </ul>

  <h3>
    Work Experience

  </h3>
  <a href="https://sitis-dashboard.firebaseapp.com" target="_blank"(click)= "walkedLinkSi()">si.ti/0553</a> <span>- {{walked_si}} просмотров</span> <br>
  <a href="https://chiefpanel-c55f5.firebaseapp.com" target="_blank" (click)= "walkedLinkCh()">ch.ie/3154</a><span>- {{walked_ch}} просмотров</span>
  <h3>
    Educational project in the process of implementation
  </h3>
  <a href="https://jse-films-project.firebaseapp.com/films-list" target="_blank"(click)= "walkedLinkJs()">js.e-/8513</a><span>- {{walked_js}} просмотров</span><br>
  (<a href="https://github.com/OlegGre4ka/Gre4ka-JSExpert-Homework" target="_blank"(click)= "walkedLinkGi()">gi.th/8364</a><span>- {{walked_gi}} просмотров</span>
  )
  <h3>
    Skills

  </h3>
  <ol>
    <li>
      Angular 6 (TypeScript, RxJs, AngularMaterial, ng-bootstrap, Clarity(for Angular), ngx-translate)
    </li>
    <li>
      HTML5, CSS3(SCSS), JavaScript (ES6), Bootstrap, SVG( Snap.svg ), JSON
    </li>
    <li>
      NodeJS and NPM
    </li>
    <li>
      Git - Github, Bitbucket
    </li>
  </ol>
  <h4>
    Language
  </h4>
  <ul class="lang">
    <li>
      Ukrainian – native
    </li>
    <li>
      English – pre-intermediate
    </li>
    <li>
      Belarussian - fluent
    </li>
    <li>
      Russian - fluent
    </li>
  </ul>
</div>