<nav class="navbar navbar-expand-md bg-success fixed-top navbar-dark">
    <div class="container">

        <div class="navbar-header" routerLinkActive='active'>
            <a class="navbar-brand"  routerLink="/linkshort">Instinctools Test</a>
        </div>

        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" routerLinkActive='active'>
                    <a class="nav-link" routerLink="/linkshort">{{'nav.linkShortener'| translate}}</a>
                </li>
                <li class="nav-item active" routerLinkActive='active'>
                    <a class="nav-link" routerLink="/list-short">{{'nav.list-hort'| translate}}</a>
                </li>
                <li class="nav-item" routerLinkActive='active'>
                    <a class="nav-link" routerLink="/description">{{'nav.description'| translate}}</a>
                </li>
                <li class="nav-item" routerLinkActive='active'>
                    <a class="nav-link" routerLink="/summury">{{'nav.summury'| translate}}</a>
                </li>
            </ul>
            <ul class="navbar-nav pull-sm-right">
                <li>
                    <button class="btn btn-small btn-success" (click)="useLanguage('en')">En</button>
                </li>
                <li>
                    <button class="btn btn-small btn-success" (click)="useLanguage('ru')">Ru</button>
                </li>
                <li class="nav-item" routerLinkActive='active'>
                    <a class="nav-link" routerLink="/registration"><i class="fas fa-user"></i>
                        {{'nav.signUp'| translate}}</a></li>
                <li class="nav-item" routerLinkActive='active'>
                    <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i>
                        {{'nav.login'| translate}}</a></li>

            </ul>
        </div>

    </div>
</nav>
<div class=wrapper>
    <div class="body-app">
        <router-outlet></router-outlet>
    
    </div>
    
    <!-- <div class="footer fixed-bottom"> -->
    
    <div class="footer">
        <div class="copy">
            <p style="text-align:start">&copy;OlegGre4ka.2018</p>
        </div>
        <div class="contacts">
            <p><i class="fas fa-at"></i>Email: gre4kae@gmail.com</p>
            <p style="text-align:start"><i class="fab fa-skype"></i>Skype: gre4kae</p>
    
        </div>
    </div>

</div>
