<h1>Description</h1>
<ol>

  <li>
    Генерирую с помощью AngularCLI новый Angular-проект - ng new instinct-test --style=scss --prefix inst
    Сразу подключаю препроцессор CSCC и прописываю уникальный префикc для компонентов - inst. Инсталирую с помощью NPM
    -Bootstrap and ng-bootstrap(для динамических JS-елементов)
  </li>
  <li>
    Создаю панель навинации (c тремя страницами-роутами, регистрацией и логированием), фоновый слайдер и форму ввода
    данных - input для URL, textarea для описания ссылки и кнопку отправки с type="submit".
  </li>
  <li>
    Валидирую форму, используя Templare-Driven подход. Поле Input валидирую по атрибуту pattern = '', в который передаю
    регулярное выражение для определения URL. Оба поля ввода данных делаю обязательными с помощью атрибута -
    required.Вывожу предупреждения в случае неверного ввода данных. Создаю объект NgForm и евент (ngSubmit) для
    отправки
    формы.
  </li>
  <li>
    В linksshort.component определяю метод обработки данных полученных из формы - submitForm().Данные из объекта NgForm
    получаю с помощью дерективы @ViewChild(). Прописываю скрипт сокращения ссылки: обрабаттываю полученные данные,
    складываю в обЪект links, объекты с помощью метода push() определяем в массив, и выводим данные из массива в шабоне
    компонента linksshort.html с помощью директивы цикла *ngFor и интерполяции- &#123;&#123;&#125;.&#125;.
  </li>
  <li>
    Генерирую с помощью AngularCLI app-роутинг модуль приложения и прописываю роуты для страниц.

  </li>
  <li>
    Для создания аутентификации генерирую новый модуль auth.module.ts , в нём создаю базовый компонент и два дочерних -
    login and registration. Создаю роутинг-модуль для регистрации роутов в данном модуле,использую массив children для
    того чтобы прописать дочерние роуты.
    Создаю формы для регистрации и входа в аккаунт, прописываю валидацию с помощью Reactive-Driven подхода.
    Устанавливаю в проект json-server
    , тем самым имитирую работу сервера у себя на локалхосте. Пользуясь этим сервером провожу CRUD - операци по
    отправке на сервер и проверке
    введенных данных.Создаю асинхронный валидатор для для динамической проверки емейла на наличие в базе
    Асинхронный валидатор должен возвращать либо Observable либо Promise типа NULL если всё удачно и типа
    ValidationErrors если валидация не прошла( https://angular.io/api/forms/AsyncValidatorFn)
    На эту работу у меня ушло 2,5 дня (включая вёрстку).
  </li>
  <li>
    Реализую guard для компонента- description. Данную странице сможет просматривать только определенное количество
    пользователей - администраторы. Люба может зайти под login - liubou.petrulevich@instinctools.ru , pass- liubov
  </li>
</ol>