<div class="container">
  <h1>Description</h1>
  <ol>

    <li>
      Генерирую с помощью AngularCLI новый Angular-проект - ng new instinct-test --style=scss --prefix inst
      Сразу подключаю препроцессор CSCC и прописываю уникальный префикc для компонентов - inst. Инсталирую с помощью
      NPM
      -Bootstrap and ng-bootstrap(для динамических JS-елементов)
    </li>
    <li>
      Создаю панель навинации c тремя страницами-роутами, регистрацией и логированием, фоновый слайдер и форму ввода
      данных - input для URL, textarea для описания ссылки и кнопку отправки с type="submit". Меню переходит в режим
      Hamburger menu при
      Screen width - medium(768px), реализовано на Bootstrap без jQuery!!!Просто с помощью дерективы [ngClass].
    </li>
    <li>
      Генерирую с помощью AngularCLI app-роутинг модуль приложения и прописываю роуты для страниц.
    </li>
    <li>
      Валидирую форму, используя Templare-Driven подход. Поле Input валидирую по атрибуту pattern = '', в который
      передаю
      регулярное выражение для определения URL. Оба поля ввода данных делаю обязательными с помощью атрибута -
      required.Вывожу предупреждения в случае неверного ввода данных. Создаю объект NgForm и евент (ngSubmit) для
      отправки
      формы.
    </li>
    <li>
      В linksshort.component определяю метод обработки данных полученных из формы - submitForm().Данные из объекта
      NgForm
      получаю с помощью дерективы @ViewChild(). Прописываю скрипт сокращения ссылки: обрабаттываю полученные данные,
      складываю в обЪект links, объекты с помощью метода push() определяем в массив, и выводим данные из массива в
      шабоне
      компонента linksshort.html с помощью директивы цикла *ngFor и интерполяции- &#123;&#123;&#125;.&#125;.<br>
      Создаю отдельный сервис для отправки данных формы сокращения ссылки на сервер, прописываю POST-method, инжекчу
      данный сервис в linksshort.component и вуаля, данные полетели на серверок)!<br>
      Дальше создаю новый компонент list-short, получаю через GET-метод из того же сервиса в него данные
      по сокращенным линкам из сервера и вывожу в шаблон. Тепер все сокращенные ссылки всегда будут доступны на
      странице
      - Манюни(пока конечно в ручном режиме не удалить их из ссерверного файла)

    </li>

    <li>
      Для создания аутентификации генерирую новый модуль auth.module.ts , в нём создаю базовый компонент и два дочерних
      -
      login and registration. Создаю роутинг-модуль для регистрации роутов в данном модуле,использую массив children
      для
      того чтобы прописать дочерние роуты.
      Создаю формы для регистрации и входа в аккаунт, прописываю валидацию с помощью Reactive-Driven подхода.
      Устанавливаю в проект json-server
      , тем самым имитирую работу сервера у себя на локалхосте. Пользуясь этим сервером провожу CRUD - операци по
      отправке на сервер и проверке
      введенных данных.Создаю асинхронный валидатор для для динамической проверки емейла на наличие в базе
      Асинхронный валидатор должен возвращать либо Observable либо Promise типа NULL если всё удачно и типа
      ValidationErrors если валидация не прошла( https://angular.io/api/forms/AsyncValidatorFn)
      На эту работу у меня ушло 2,5 дня (включая вёрстку).
    </li>
    <li>
      Реализую guard для компонента- description. Данную странице сможет просматривать только определенное количество
      пользователей - администраторы. Люба может зайти под login - liubou.petrulevich@instinctools.ru , pass- liubov
      На Резюме тоже вешаю guard, но эту страницу может просматривать любой зарегистрированный пользователь.<br>
      !!!Первые две страницы доступны всем без регистрации
    </li>
    <li>
      Создана страница NotFound, прописан роут для нее,текст css анимирован, с помощью функции setTimeout через 5
      секунд
      автоматичекски переадресовывает на странице Логина.Введите любой несуществующий адрес для просмотра.
    </li>
    <li>
      Подключен модуль интернационализации - @ngx-translate и все сопутствующие сервисы. Данная функциональность
      прописана для Навигации и для компонента LinkshortComponent
    </li>
    <li>
      Подключил две иконки из FontAwesome через CDN. В официальной документации есть указание на то что данная
      библиотека
      уже напрямую работает с Angular,
      Но так как там прописанно подключение черезпакетный менеджер Yarn ( а я пользуюсь NPM), то я не подключал
      напрямую
      через терминал в node_modules
    </li>
    <li>
      На главной странице реализовал счётчик количества укороченных ссылок, данные сетаются в localStorage, при
      перезагрузке
      данные берутся из localStorage по определённому ключу и обрабатываются дальше. Количество укороченных ссылок(в
      данном браузере) не обнуляется,
      счётчик будет работать пока не очистить localStorage. <br>
      Также на данном елементе реализована передача динамического параметра - | translate:param
      , а именно переменной в которую ложится количество укороченных ссылок, в статичекую переменную из .json файлов з
      текстом для транслейта!!!
      <br>
      В Резюме прописал укороченные с помощью LinkShortener ссылки на мои работы и реализовал счётчики количества
      переходов по данным ссылкам c использованием locakstorage.
     !!! В Манюни - реализовані счётчики на динамических елементах-ссылках с помощоью создания кастомной директивы и
      обновления данных на сервере через PATCH - запрос!!
    </li>
    <li>
      В форме linkshortComponent сделал проверку на ідентичность вводимой в инпут формы ссылки с уже зарегистрированой
      в базе на сервере
      обработал и вывел в шаблоне тультип с ссылкой на уже существующую короткую версию в случае - true.
    </li>
  </ol>
</div>